*
{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body
{
width:100%;
height:100%;
}
#circle
{
    width: 30px;
    height: 30px;border-radius: 50%;
    position: absolute;
    background-color: #fff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#main
{
    width: 100%;
    height: 100%;
    background-color: #000;
}